/* US Web Design Colors */


.usa-fill-blue {
	background-color: $color-blue !important;
}
.usa-fill-blue-darker {
	background-color: $color-blue-darker  !important;
}
.usa-fill-blue-darkest {
	background-color: $color-blue-darkest  !important;
}
.usa-fill-aqua {
	background-color: $color-aqua !important;
}
.usa-fill-aqua-darkest {
	background-color: $color-aqua-darkest  !important;
}
.usa-fill-aqua-dark {
	background-color: $color-aqua-dark  !important;
}
.usa-fill-aqua-light {
	background-color: $color-aqua-light !important;
}
.usa-fill-aqua-lightest {
	background-color: $color-aqua-lightest  !important;
}
.usa-fill-red {
	background-color: $color-red !important;
}
.usa-fill-red-darkest {
	background-color:$color-red-darkest  !important;
}
.usa-fill-red-dark {
	background-color: $color-red-dark  !important;
}
.usa-fill-red-light {
	background-color: $color-red-light  !important;
}
.usa-fill-red-lightest {
	background-color: $color-red-lightest  !important;
}
.usa-fill-white {
	background-color:$color-white  !important;
}
.usa-fill-black-light {
	background-color: $color-black-light  !important;
}
.usa-fill-black {
	background-color: $color-black !important;
}
.usa-fill-gray-dark {
	background-color: $color-gray-dark !important;
}
.usa-fill-gray {
	background-color: $color-gray  !important;
}
.usa-fill-gray-medium {
	background-color: $color-gray-medium !important;
}
.usa-fill-gray-light {
	background-color: $color-gray-light !important;
}
.usa-fill-gray-lighter {
	background-color: $color-gray-lighter  !important;
}
.usa-fill-gray-lightest {
	background-color: $color-gray-lightest !important;
}
.usa-fill-gray-warm-dark {
	background-color: $color-gray-warm-dark !important;
}
.usa-fill-gray-warm-light {
	background-color: $color-gray-warm-light !important;
}
.usa-fill-gray-cool-light {
	background-color: $color-gray-cool-light  !important;
}
.usa-fill-gold {
	background-color: $color-gold  !important;
}
.usa-fill-gold-light {
	background-color: $color-gold-light  !important;
}
.usa-fill-gold-lighter {
	background-color: $color-gold-lighter !important;
}
.usa-fill-gold-lightest {
	background-color: $color-gold-lightest !important;
}
.usa-fill-green {
	background-color: $color-green  !important;
}
.usa-fill-green-light {
	background-color: $color-green-light  !important;
}
.usa-fill-green-lighter {
	background-color: $color-green-lighter  !important;
}
.usa-fill-green-lightest {
	background-color: $color-green-lightest  !important;
}
.usa-fill-cool-blue {
	background-color: $color-blue-darker  !important;
}
.usa-fill-cool-blue-light {
	background-color: color-cool-blue-light  !important;
}
.usa-fill-cool-blue-lighter {
	background-color: $color-cool-blue-lighter  !important;
}
.usa-fill-cool-blue-lightest {
	background-color: $color-gray-cool-light  !important;
}
.usa-fill-purple {
	background-color: $color-purple!important;
}

/* USA Text */ 

.usa-text-blue{
	color: $color-blue;
}
.usa-text-blue-darker {
	color: $color-blue-darker ;
}
.usa-text-blue-darkest {
	color: $color-blue-darkest ;
}
.usa-text-aqua {
	color: $color-aqua;
}
.usa-text-aqua-darkest {
	color: $color-aqua-darkest ;
}
.usa-text-aqua-dark {
	color: $color-aqua-dark ;
}
.usa-text-aqua-light {
	color: $color-aqua-light;
}
.usa-text-aqua-lightest {
	color: $color-aqua-lightest ;
}
.usa-text-red {
	color: $color-red;
}
.usa-text-red-darkest {
	color:$color-red-darkest ;
}
.usa-text-red-dark {
	color: $color-red-dark ;
}
.usa-text-red-light {
	color: $color-red-light ;
}
.usa-text-red-lightest {
	color: $color-red-lightest ;
}
.usa-text-white, a.usa-text-white {
	color:$color-white ;
}

.usa-text-base {
	color: $color-black-light;
}
.usa-text-black {
	color: $color-black;
}
.usa-text-gray-dark {
	color: $color-gray-dark;
}
.usa-text-gray {
	color: $color-gray ;
}
.usa-text-gray-medium {
	color: $color-gray-medium;
}
.usa-text-gray-light {
	color: $color-gray-light;
}
.usa-text-gray-lighter, a.usa-text-white:hover, a.usa-text-white:focus  {
	color: $color-gray-lighter !important;
}
.usa-text-gray-lightest {
	color: $color-gray-lightest;
}
.usa-text-gray-warm-dark {
	color: $color-gray-warm-dark;
}
.usa-text-gray-warm-light {
	color: $color-gray-warm-light;
}
.usa-text-gray-cool-light {
	color: $color-gray-cool-light ;
}
.usa-text-gold {
	color: $color-gold ;
}
.usa-text-gold-light {
	color: $color-gold-light ;
}
.usa-text-gold-lighter {
	color: $color-gold-lighter;
}
.usa-text-gold-lightest {
	color: $color-gold-lightest ;
}
.usa-text-green {
	color: $color-green ;
}
.usa-text-green-light {
	color: $color-green-light ;
}
.usa-text-green-lighter {
	color: $color-green-lighter ;
}
.usa-text-green-lightest {
	color: $color-green-lightest ;
}
.usa-text-cool-blue {
	color: $color-blue-darker ;
}
.usa-text-cool-blue-light {
	color: color-cool-blue-light ;
}
.usa-text-cool-blue-lighter {
	color: $color-cool-blue-lighter ;
}
.usa-text-cool-blue-lightest {
	color: $color-gray-cool-light ;
}
.usa-text-color-purple {
	color: $color-purple
}



