/*Sections*/

.usa-section-dark h1, .usa-section-dark h2, .usa-section-dark h3, .usa-section-dark h4, .usa-section-dark h5, .usa-section-dark h6 {
    color: #f1f1f1;
}

.usa-section-lighter {
	background-color:  rgba($color-gray-lightest,0.35);
	color:  $color-black-light;
}

.usa-section-blue-darkest {
	background-color:  $color-blue-darkest;
	color:  $color-white;
		a{
		color:  $color-white;
	}
	a:hover {
		color:  $color-gold-lighter
	}
}


.usa-section-blue-darker {
	background-color:  $color-blue-darker;
	color:  $color-white;
		a{
		color:  $color-white;
	}
	a:hover {
		color:  $color-gold-lightest
	}

ul.breadcrumb {
    padding: 0;
    list-style: none;
}


ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li.active {
    font-weight: 700;
	color: $color-white;
} 

ul.breadcrumb li+li:before {
    padding: 8px;
    color: $color-white;
	font-weight: 500;
    content: "/\00a0";
}


ul.breadcrumb li a {
    color: $color-white;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: $color-gold-lighter;
    text-decoration: underline;
}
}

.usa-section-aqua-darkest {
	background-color:  $color-aqua-darkest;
	color:  $color-white;
		a{
		color:  $color-white;
	}
	a:hover {
		color:  $color-gray-lightest;
	}
}
.usa-section-aqua-darker {
	background-color:  $color-aqua-dark;
	color:  $color-black-light;
	a{
		color:  $color-black-light;
	}
	a:hover {
		color:  $color-gray-lightest;
	}
}

.usa-section-aqua {
	background-color:  $color-aqua;
	color:  $color-black-light;
	a{
		color:  $color-black-light;
	}
	a:hover {
		color:  $color-gray-lightest;
	} 
}

.usa-section-red-darkest {
	background-color:  $color-red-darkest;
	color: $color-white;
		a{
		color:  $color-white;
	}
	a:hover {
		color:  $color-gray-lightest;
	}

ul.breadcrumb {
    padding: 0;
    list-style: none;
}


ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li.active {
    font-weight: 700;
	color: $color-white;
} 

ul.breadcrumb li+li:before {
    padding: 8px;
    color: $color-white;
	font-weight: 500;
    content: "/\00a0";
}


ul.breadcrumb li a {
    color: $color-white;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: $color-gold-lighter;
    text-decoration: underline;
}
	
}

.usa-section-cool-blue {
	background-color:  $color-cool-blue;
	color: $color-white;
		a{
		color:  $color-white;
	}
	a:hover {
		color:  $color-gray-lightest;
	}
}

.usa-section-black-light {
	background-color:  $color-black-light;
	color:  $color-white;
	
	a{
		color:  $color-white;
	}
	a:hover {
		color:  $color-gold-lightest
	}

ul.breadcrumb {
    padding: 0;
    list-style: none;
}


ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li.active {
    font-weight: 700;
	color: $color-white;
} 

ul.breadcrumb li+li:before {
    padding: 8px;
    color: $color-white;
	font-weight: 500;
    content: "/\00a0";
}


ul.breadcrumb li a {
    color: $color-white;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: $color-gold-lighter;
    text-decoration: underline;
}
}

.usa-section-black{
	background-color: #101010;
	color:  $color-white;
		a{
		color:  $color-white;
	}
	a:hover {
		color: $color-gold-lightest
	}
	

ul.breadcrumb {
    padding: 0;
    list-style: none;
}


ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li.active {
    font-weight: 700;
	color: $color-white;
} 

ul.breadcrumb li+li:before {
    padding: 8px;
    color: $color-white;
	font-weight: 500;
    content: "/\00a0";
}


ul.breadcrumb li a {
    color: $color-white;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: $color-gold-lighter;
    text-decoration: underline;
}
}

.usa-section-green {
	background-color:  $color-green;
	color: $color-white;
	a{
		color:  $color-white;
	}
	a:hover {
		color:  $color-gray-lightest;
	}

ul.breadcrumb {
    padding: 0;
    list-style: none;
}


ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li.active {
    font-weight: 700;
	color: $color-white;
} 

ul.breadcrumb li+li:before {
    padding: 8px;
    color: $color-white;
	font-weight: 500;
    content: "/\00a0";
}


ul.breadcrumb li a {
    color: $color-white;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: $color-gray-lightest;
    text-decoration: underline;
}
}

.usa-section-gray {
	background-color:  $color-gray-dark;
	color: $color-white;
	a{
		color:  $color-white;
	}
	a:hover {
		color:  $color-gray-lightest;
	}

ul.breadcrumb {
    padding: 0;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li.active {
    font-weight: 700;
	color: $color-white;
} 

ul.breadcrumb li+li:before {
    padding: 8px;
    color: $color-white;
	font-weight: 500;
    content: "/\00a0";
}


ul.breadcrumb li a {
    color: $color-white;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: $color-gold-lighter;
    text-decoration: underline;
}
}
.usa-section-gray-cool-light {
	background-color:  $color-gray-cool-light;
	color: $color-black-light;
}


.usa-section-dark .usa-footer-return-to-top a,  .usa-section-base .usa-footer-return-to-top a , .usa-section-black .usa-footer-return-to-top a  {
    color: $color-white;
	
	&:hover {color: $color-gold-light;
		
	}
	&:visited {color: $color-gold-lightest;}
}

.pc-threaded-background{
	background-image: url('/_media/img/backgrounds/pc-thread.png');
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center center;
}

.pc-wave2-background{
	background-image: url('/_media/img/backgrounds/wave2.png');
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: bottom center;
}

.pc-wave3-background{
	background-image: url('/_media/img/backgrounds/wave3.png');
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: bottom center;

}

.pc-wave-background{
	background-image: url('/_media/img/backgrounds/wave.png');
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: bottom center;

}


